<h1>記事一覧</h1>
<% @lives.each do |live| %>

<p><%= live.title %></p>
<p><%= live.place %></p>
<p><%= live.date.to_s(:published_on) %></p>
<p><%= live.body %></p>
<p><%= link_to "詳細を見る",life_path(live.id) %></p>

<% end %>
<%= paginate @lives %>