<div class="lives-container">
	<div class="lives-article">		




		<h2>タイトル</h2>
		<li><%= @live.title %></li>

		<h2>会場</h2>
		<li><%= @live.place %><li>

		<h2>日時</h2>
		<li><%= @live.date %></li>
	
		<h2>メッセージ</h2>
	<div class="lives-body">
		<li><%= @live.body %></li>
    </div>
		<% @talks.each do |talk| %>
			<div class=""><%= talk.body %></div>
		<% end %>

		<% if !@join.blank? %>
			<% if @join.accepted  %>
				<h2>コメントを書く</h2> 
				<%= form_for([@live,GroupTalk.new]) do |f| %> 
					<div > 
						<%= f.text_area :body %> 
					</div> 
					<div> 
						<%= f.submit "送信" %> 
					</div> 
				<% end %>
			<% end %>	 
		<% end %>




		<% if @live.user_id == current_user.id %>
			<li><%=link_to "編集", edit_life_path(@live.id) %></li>
			<li><%= link_to "削除", life_path(@live.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %></li>
			<li><%= link_to "申請中一覧",waiting_life_joins_path(params[:id]) %></li>
		<% else %>

			<li><% if @join.blank? %>
					<%= link_to "コミュニティに参加する", life_joins_path(@live), method: :post %>
				<% else %>
					<% if @join.accepted %>
						<%= link_to "コミュニティを退会する", life_join_path(@join.id), method: :delete %>
					<% else %>
				    	<li>申請中</li> 
					<% end %>
				<% end %>	
			</li>
		<% end %>
	</div>
</div>		