<%= form_for(@mymember) do |f| %>

	<h3>タイトル</h3>
	<%= f.text_field :title %>

	<h3>会場</h3>
	<%= f.text_field :place %>
	
	
	
	<h3>備考</h3>
	<%= f.text_area :body %>

<%= f.submit "送信" %>

<% end %>