<!DOCTYPE html>
<html>
  <head>
    <title>Datsubochi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar">
	  <div class="mymembers-menu">
	    <ul class="header-right">
      <%= image_tag 'datsubochi-3.jpg',id: 'logo' %>
	      <li class="mymembers-item"><%= link_to '新規投稿',new_mymember_path %></li>
	      <li class="mymembers-item"><%= link_to '記事一覧',mymembers_path %></li>
	      <li class="mymembers-item"><%= link_to 'マイページ',user_path(current_user.id) %></li>
        <li class="mymembers-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

	    </ul>
	  </div>
</header>
  		<%= yield %>
  </body>	
</html>


























