<!DOCTYPE html>
<html>
  <head>
    <title>Datsubochi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar">
	  <div class="users-menu">
      
	    <ul class="header-right ">
        
	     <%= image_tag 'datsubochi-3.jpg',id: 'logo' %>
        <% if user_signed_in? %>
      
          <li class="users-item"><%= link_to "作成ライブ一覧",lives_index_user_path(current_user.id),class: 'item-line' %></li>
          <li class="users-item"><%= link_to "所属コミュニティ",joined_group_user_path(current_user.id),class: 'item-line'%></li>
          <li class="users-item"><%= link_to "脱ぼっちトリセツ",system_path,class: 'item-line' %></li>
          <li class="users-item"><%= link_to "ライブ募集",lives_path,class: 'item-line' %></li>
          <li class="users-item"><%= link_to "推しメン紹介",mymembers_path,class: 'item-line' %></li>
          <li class="users-item"><%= link_to "ログアウト",destroy_user_session_path,method: :delete,class: 'item-line' %></li>

        <% end %>
	    </ul>
	  </div>
</header>
  		<%= yield %>
  </body>	
</html>






